<!-- Modules -->
<script defer src="./js/charts/chartsRedirect.js"></script>

<header>
  <h1>Log Manager</h1>
</header>

<main>
  <h2>개발 4 그룹 사원 김채욱</h2>
  <button id="pie">Pie charts</button>
  <button id="line">Line charts</button>
</main>

<footer>
  <p>브레인즈컴퍼니 &copy; 2023.03.21</p>
</footer>
