<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Data -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LogCollectData</title>
    <!-- Local Modules -->
    <link rel="stylesheet" href="./stylesheets/style.css" />
    <!-- 3rd Parties Modules -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>
  <body>
    <%- body %>
  </body>
</html>
