<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- content %>
    <!-- non escape tag입니다. <div>hi</div>으로 온다면, HTML으로 해석해서 랜더링됩니다 -->
  </body>
</html>
